/* Webfont: UrchloGC */@font-face {
    font-family: 'UrchloGC';
    src: url('UrchloGC.eot'); /* IE9 Compat Modes */
    src: url('UrchloGC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('UrchloGC.woff') format('woff'), /* Modern Browsers */
         url('UrchloGC.ttf') format('truetype'), /* Safari, Android, iOS */
         url('UrchloGC.svg#UrchloGC') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

