@font-face {
    font-family: 'UrchloGC';
    src: url('../fonts/UrchloGC.eot'),
         url('../fonts/urw/UrchloGC.woff') format('woff'), 
         url('../fonts/UrchloGC.ttf') format('truetype'), 
         url('../fonts/UrchloGC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    /* Setting root font size*/
    padding: 0px;
    --root-size: 20;
    font-size: calc(var(--root-size, 20) * 1px);
    /* Typography */
    --main-font: Arial, Helvetica, sans-serif;;
    /* Calculation, Ranges from 421px to 1199px */
    --responsive: calc((var(--min-font) * var(--root-size) * 1px) + (var(--max-font) - var(--min-font)) * var(--root-size) * ((100vw - 420px) / (1200 - 420)));
  }

.grid-header {
    grid-area: header;
    // font-size: 2.5rem;
    background-color:#e9ecef;
}

.sidenav-item {
    font-size: 0.8rem;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem 0.25rem 0.75rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.header-label {
    margin-left: 35%;
    font-size: calc(1.75rem + 1vmin);

}

.logo {
    width: 2.5rem;
    float: left;
    margin: 0.9rem 0rem 0rem 0.8rem;
    border-radius: 50%;
}

.menu-modal {
    background-color: #d6efc0;
    margin: 0rem 0.5rem 0rem 0.5rem;

    div {
        flex: 1;
    }
}

.dropdown-menu.show {
    max-width: 95% !important;
}

.footer-grid {
    grid-area: footer;
    text-align: center;
    background-color: #e9ecef;
    font-family: Arial, Helvetica, sans-serif;
    a, i {
        font-size: calc(0.5em + 1vmin);
    }
}

body, h3, h4 {
    font-family: 'UrchloGC';
    grid-template-columns: 20% 75% 5%;
    grid-template-rows: 7% 89% 4%;
    grid-template-areas: "header header header header" "sidebar main main main" "footer footer footer footer";
    
}

h3 {
    font-size: calc(0.50em + 1vmin);
}

h4 {
    font-size: calc(0.35em + 1vmin);
}

body {
    font-size: calc(2em + 1vmin);
    height: 100vh;
    width: 100vw;
}


.main-grid {
    grid-area: main;
    // background-color: red;
    overflow-x: auto;
    overflow-y: auto;

}

main {
    text-align: center;
    font-size: calc(0.75em + 1vmin);
    font-family: Arial, Helvetica, sans-serif;
    

    h1 {
        font-size: calc(1em + 1vmin);
    }

    #eolas {
        margin: 0 10% 0 10%;
        font-size: calc(0.75em + 1vmin);
    }

    // this was used to generate the logo
    // keeping here in case it's needed again
    // #logo {
    //     background: repeating-linear-gradient(
    //         45deg,
    //         rgb(109, 214, 179),
    //         white 10px,
    //         orange 20px,

    //     );
    //     color: #4f5a65;
    //     padding-left: 11.3%;
    // }
}

.bord {
    overflow-x: auto;
    table th, td{
        font-size: calc(0.35rem + 1vmin); 
    }
}

#teideal {
    margin-top: calc(0.55rem + 1vmin);
}

#fothteideal {
    margin-top: calc(0.85rem + 1vmin);
    margin-bottom: calc(1.5rem + 1vmin); 
}

.privacy-policy {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6efc0;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: calc(0.55rem + 1vmin);
    margin-bottom: calc(3rem + 1vmin);
    font-size: calc(0.55rem + 1vmin);

    a {
        font-size: calc(0.55rem + 1vmin);
    }
}

.sidenav {
    height: 100%;
    .sidenav-item, .sidenav-item a {
        font-size: calc(0.35rem + 1vmin);

    }
    background-color: #d6efc0;
    overflow-x: hidden;
    grid-area: sidebar;
    font-size: 1rem;
  }

  //styles for extra large screens
  @media (min-width: 1350px) {
    body {
        display: grid;
        grid-template-columns: 12% 33% 30% 25%;
        grid-template-rows: 7% 90% 3%;
        grid-template-areas: "header header header header" "sidebar main main main" "footer footer footer footer";
    }

    .footer-grid {
        a {
            margin-left: 10%;

        }
    }
    .menu{
        visibility: hidden !important;
    }
  }

  //styles for larger screens
  @media (min-width: 700px) and (max-width: 1350px) {
    body {
        display: grid;
        grid-template-columns: 15% 75% 5% 5%;
        grid-template-rows: 10% 86% 4%;
        grid-template-areas: "header header header header" "sidebar main main main" "footer footer footer footer";
    }

    .footer-grid {
        a {
            margin-left: 10%;

        }
    }

    .menu{
        visibility: hidden !important;
    }
  }
  
  //styles for mobile
  @media (max-width: 420px) {
    .menu, .dún {
        width: 2.5rem;
        font-size: 0.7rem;
        float: right;
        margin: 0.1rem 0.5rem 0rem 0rem;
    }
    
    .footer-grid {
        line-height: 1;
    }

    body {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 0% 100%;
        grid-template-rows: 8% 88% 4%;
        grid-template-areas: "header header" "main main" "footer footer";
    }

    .logo {
        margin: 0.5rem 0.4rem 0.4rem 0.4rem;
        width: 2rem;
    }

    #eolas {
        p {
            font-size: 0.7rem;

        }
    }

    .header-label {
        margin: 0.5rem 0rem 0.5rem 1.5rem;
        font-size: 1rem;
    }
  }
  
//   .sidenav a {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//   }
  
//   .sidenav a:hover {
//     color: #f1f1f1;
//   }
  
//   @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
//   }
